@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #505050;
}

nav, footer {
    background-color: #333;
    color: #eee;
}

a {
    color: #eee;
    text-decoration: none;
    font-weight: bold;
}

/* Navbar */

nav {
    display: flex;
    padding: 20px 35px;
    flex-basis: auto;
    align-items: center;
}

nav img {
    background-color: #eee;
    padding: 10px 20px;
    margin-right: 10px;
}


/* Entrada e saída */

main {
    border: 2px solid #eee;
    border-left: none;
    border-right: none;
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.campo {
    margin: 0 5px;
    padding: 0 20px;
    /* border: 3px solid red; */
}

.campo h2 { color: #eee; margin-bottom: .5em;}

textarea {
    resize: vertical;
    width: 40vw;
    height: 20vh;
    padding: 10px;
}

textarea:focus {
    outline: 1.5px solid black;
}

#entrada .botoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
}

#entrada button {
    background-color: white;
    padding: 3vh 3vw;
    margin: 6px;
    border: none;
    border-top: 4px solid #333;
    font-weight: 600;
}

#entrada button:hover { cursor: pointer; }

/* Erros */

ul#erros {
    list-style: none;
}

ul#erros li {
    color: #ff9f9f;
    margin-bottom: 7px;
}

#erros li::before {
    /* Imagem disponibilizada no Figma
    content: url(assets/aviso.png);
    filter: invert(1);
    margin-right: .3em;
    */
    content: '!';
    font-size: .85em;
    margin-right: .45em;
    background-color: #ff9f9f;
    color: #eee;
    padding: .2em .75em;
    border-radius: 100%;

}

.bloqueado { cursor: not-allowed !important; }

/* Footer */
footer {
    padding: 50px 0;
    text-align: center;
}